{% extends "ort_base.html" %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container text-center">
    <h1>ORT报告工作站</h1>
    <div>
        <p>ORT报告工作站，为您提供报告、审查、反馈等服务。</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">计划</h5>
                    <p class="card-text">管理领退、排程</p>
                    <a href="{% url 'plans:checkouts' %}" class="btn btn-primary">领退</a>
                    <a href="{% url 'plans:schedules' %}" class="btn btn-primary">排程</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">报告</h5>
                    <p class="card-text">ORT报告</p>
                    <a href="{% url 'reports:amz_report' %}" class="btn btn-primary">亚马逊</a>
                    <a href="{% url 'reports:burn_report' %}" class="btn btn-primary">烘烤</a>
                    <a href="{% url 'reports:emc_report' %}" class="btn btn-primary">传导</a>
                    <a href="{% url 'reports:harmonic_report' %}" class="btn btn-primary">谐波</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">管理</h5>
                    <p class="card-text">管理实验项目、实验人员和客户</p>
                    <a href="{% url 'managements:testitems' %}" class="btn btn-primary">实验项目</a>
                    <a href="{% url 'managements:technicians' %}" class="btn btn-primary">实验人员</a>
                    <a href="{% url 'managements:custproducts' %}" class="btn btn-primary">客户</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block right_peek %} {% endblock right_peek %}