{% extends "ort_base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<style>
    #technicians-menu,
    #technicians-th-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        min-width: 120px;
        z-index: 1;
    }
</style>
<div>
    <div class="table-responsive m-2 p-2">
        <h3>{{ title }}</h3>
        <table class="table table-hover table-striped table-bordered table-sm" id="technicians_table"
            name="technician_peek">
            <thead class="thead-dark">
                <tr>
                    <th> <span>项次</span> </th>
                    <th> <span>工号</span> </th>
                    <th> <span>姓名</span> </th>
                    <th> <span>邮箱</span> </th>
                    <th> <span>电话</span> </th>
                </tr>
            </thead>

            <tbody>
                {% for obj in all_technicians %}
                <tr data-technician-id="{{ obj.id }}">
                    <td> {{ obj.id }} </td>
                    <td> {{ obj.tech_code }} </td>
                    <td> {{ obj.tech_name }} </td>
                    <td> {{ obj.tech_email }} </td>
                    <td> {{ obj.tech_phone }} </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center">暂无数据，请先添加</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="list-group" id="technicians-menu">
    <a class="list-group-item list-group-item-action" href="">添加</a>
    <a class="list-group-item list-group-item-action" href="" id="edittechnician">编辑</a>
    <a class="list-group-item list-group-item-action" href="" id="deltechnician">删除</a>
</div>

<div class="list-group" id="technicians-th-menu">
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="list-group-item list-group-item-action" formaction="">添加</button>
    </form>
</div>

<script>

</script>
{% endblock content %}